/* 
    Document   : buttons
    Created on : 23.10.2013, 22:48:26
    Author     : BSCheshir
    Description:
        Purpose of the stylesheet follows.
*/


.buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbfa84;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbfa84;
	box-shadow:inset 0px 1px 0px 0px #bbfa84;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3d62b), color-stop(1, #99d94a) );
	background:-moz-linear-gradient( center top, #a3d62b 5%, #99d94a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3d62b', endColorstr='#99d94a');
	background-color:#a3d62b;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #79bd04;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:130px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #abe055;
}
.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99d94a), color-stop(1, #a3d62b) );
	background:-moz-linear-gradient( center top, #99d94a 5%, #a3d62b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99d94a', endColorstr='#a3d62b');
	background-color:#99d94a;
}.buttons:active {
	position:relative;
	top:1px;
}